/* Sidebar */

.sidebar a
{
    
    display: block;
    
    padding: 10px;
    
    color: aliceblue;
    text-decoration: none;
    
}

.sidebar 
{
    
    font-size: 150%;
    
}

.sidebar a:hover:link 
{
    
    color: #000EEE;
    
}

.sidebar a:hover:visited 
{ 
    
    color: #551A8B;
    
}

.sidebar a:hover:link:active, :visited:active 
{
    
    color: #FF0000;
    
}

.sidebar #Perfil 
{
    
    font-size: 300%;
    
    align-items: center;
    
}

@media (max-width: 995px) 
{
    
    .sidebar 
    {
        
        position: fixed;
        z-index: 1;
        
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        
        height: 100%;
        width: 200px;
        
    }
    
    .sidebar.show 
    {
        
        transform: translateX(0);
        
    }
    
}

/* Navbar */

.navbar #toggleMenu
{
    
    font-size: 175%;
    
}